.login{
    background-color: var(--primary-color);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../../../assets/img/fondoLogin.jpg');
    background-size: cover;
    background-position: center;

}