:root {
  --primary-color: #E9F1FA;
  --secundary-color: #B695C0;
  --third-color: #FFFFFF;
  --gray-color: #7E7E7E;
  --dark-gray-color: #333333;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
