.content{
    border-radius: 8px; /* Redondea esquinas del contenedor */
    width: 100%; /* Toma el 100% del ancho del contenedor */
    height: 100%;/* Toma el 100% del alto del contenedor */
    max-height: 600px;/* Se le asigna un tamanio maximo al contedor */
    max-width: 400px; /* Se le asigna un tamanio maximo al contedor */

}
.img{
    border-radius: 8px; /* Redondea esquinas del contenedor */
    height: 100%;
    width: 100%;
    object-fit: cover;
}