.content{
    gap: 20px; /* Espacio entre los elementos */
    border-radius: 8px; /* Redondea esquinas del contenedor */
    width: 100%; /* Toma el 100% del ancho del contenedor */
    height: 100%;/* Toma el 100% del alto del contenedor */
    max-height: 400px;/* Se le asigna un tamanio maximo al contedor */
    max-width: 300px; /* Se le asigna un tamanio maximo al contedor */

}

.content_title{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 10%;
}
.content_title h1{
    color: var(--dark-gray-color);
}
.content_title p{
    color: var(--gray-color);
}

.item_input{
    display: flex;
    flex-direction: column;
    margin: 0 5% 5% 5%;
    text-align: left;

}
.item_input label{
    color: var(--dark-gray-color);
    font-size: 12px;
    margin-bottom: 5px;
}
.item_input input{
    background-color: #F4F4F4;
    border: none;
    border-bottom: solid 1px #a6a6a6;
    height: 30px;
    padding: 0 10px;
    border-radius: 8px;
    font-size: 12px;
    color: var(--gray-color);
}

.item_input input:focus{
    border-color: var(--secundary-color);
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    outline: none;

}
.containerButton {
    margin-top: 30px;
    display: flex;
}
.no_accountContent{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.no_accountContent span {
    font-size: 10px;
    font-weight: bold !important;
    color: var(--dark-gray-color);

}