.content{
    display: flex; 
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px; /* Redondea esquinas del contenedor */
    box-shadow: 5px 5px 15px gray; /* Se agregan sombras */
    width: 100%; /* Toma el 100% del ancho del contenedor */
    height: 100%;/* Toma el 100% del alto del contenedor */
    max-height: 400px;/* Se le asigna un tamanio maximo al contedor */
    max-width: 600px; /* Se le asigna un tamanio maximo al contedor */
    box-sizing: border-box; /* Calcula el ancho total del elemento para que no salga del contenedor*/
    padding: 5px;
    background-color: var(--third-color);

}